* {
  margin: auto;
  padding: auto;
}

body {
  background: url("./image/smarttourismbg1.png") no-repeat;
  background-size: 100%;
}
.letgo img{
  margin-top: 29%;
  margin-left: 41%;
  width: 250px;
  height: 130px;
  border-radius: 25%;
}



